{% extends 'base.html.twig' %}

{% block title %}{{ 'Order list' | trans() }}{% endblock %}
{% block body %}
    <div class="panel panel-default no-bg  b-gray-dark">
        <div class="panel-body">
            <form class="form-inline filter-form" method="get" action="{{ path('dota_boost_orders_list') }}">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".addDotaBoostOrderModal"><i class="fa fa-plus"></i> {{ 'New order' | trans() }}</button>
                {% endif %}
            </form>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="small text-muted text-uppercase"><strong>{{ 'Code' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Status' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Title' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Description' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Created at' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Owner' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Responsible' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Start at' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'End at' | trans() }}</strong></th>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <th class="small text-muted text-uppercase"><strong>{{ 'Action' | trans() }}</strong></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td>
                   <span>{{ order.code }}</span>
                </td>
                <td>
                    <span>{{ order.statusesList()[order.status] | trans() }}</span>
                </td>
                <td>
                    <span>{{ order.title }}</span>
                </td>
                <td>
                    <span>{{ order.description }}</span>
                </td>
                <td>
                    <span>{{ order.createdAt | date('d.m.Y') }}</span>
                </td>
                <td>
                    <span>{{ order.owner.username }}</span>
                </td>
                <td>
                    <span>{{ order.responsibleUser ? order.responsibleUser.username : 'No responsible user' | trans() }}</span>
                </td>
                <td>
                    <span>{{ order.startAt ? order.startAt | date('d.m.Y') : '-' }}</span>
                </td>
                <td>
                    <span>{{ order.endAt ? order.endAt | date('d.m.Y') : '-' }}</span>
                </td>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-fw fa-gear"></i> <span class="caret"></span>
                            </button>
                            {% include 'dota/boost_orders/partial/actions.html.twig' %}
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% import 'dota/boost_orders/partial/form.html.twig' as form %}

    {% set addDotaBoostOrderVars = {
        'class': 'addDotaBoostOrderModal',
        'formId': 'addDotaBoostOrderForm',
        'title': 'New order',
        'content': form.inputs(),
        'formAction': path('add_dota_boost_order'),
        'submitTitle': 'Create'
    } %}

    {% set editDotaBoostOrderVars = {
        'class': 'editDotaBoostOrderModal',
        'formId': 'editDotaBoostOrderForm',
        'title': 'Edit order',
        'content': form.inputs(),
        'submitTitle': 'Save'
    } %}

    {% include 'partial/modal.html.twig' with addDotaBoostOrderVars %}
    {% include 'partial/modal.html.twig' with editDotaBoostOrderVars %}

{% endblock %}